---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import clubPenguinPlayercard from '../assets/club-penguin-playercard.png';
const pageTitle = "Welcome to Ramaway!";
---

<BaseLayout title={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>I'm Sriram, a developer and student.</p>
	<Image src={clubPenguinPlayercard} alt="Club Penguin Playercard" width={450} height={450} />
</BaseLayout>
