---
---
<div class="py-4"></div>
    <footer class="text-center text-sm text-gray-500">
        <p>© 2026 Sriram Kiron, Theme by <a href="https://catppuccin.com">Catppuccin</a>, Font by <a href="https://developer.apple.com/fonts/"></a></p>
    </footer>
</div>