---
import githubLogo from '../assets/github-logo.png';
import twitterLogo from '../assets/twitter-logo.png';
import linkedinLogo from '../assets/linkedin-logo.png';
---
<div class="py-4"></div>
    <footer class="text-center text-sm text-gray-500">
        <div class="footer-socials">
            <a href="https://github.com/Phineas1500" target="_blank" rel="noopener noreferrer">
                <img src={githubLogo.src} alt="GitHub" />
            </a>
            <a href="https://x.com/sriramkiron" target="_blank" rel="noopener noreferrer">
                <img src={twitterLogo.src} alt="Twitter" />
            </a>
            <a href="https://www.linkedin.com/in/sriramkiron/" target="_blank" rel="noopener noreferrer">
                <img src={linkedinLogo.src} alt="LinkedIn" />
            </a>
            <a href="mailto:ramk.personal26@gmail.com" aria-label="Email">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>
            </a>
        </div>
        <p>© 2026 Sriram Kiron, Theme by <a href="https://catppuccin.com">Catppuccin</a>, Font by <a href="https://developer.apple.com/fonts/"></a></p>
    </footer>
</div>
